.aboutMe {
    background-color: #f9f9f9;
    color: black;
    overscroll-behavior: contain;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .header {
    border-bottom: black 1px solid;
    width: 100%;
    padding-bottom: 3px;
    margin-top: -3px;
  }
  
  .intro {
    font-size: 32px;
    /* margin-bottom: 5px; */
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .subtext {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
  }
  
  .secondSubtext {
    margin-left: 30px;
  }
  
  .back {
    position: absolute;
    top: 27px;
    right: 40px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: transform 0.2s linear;
  }
  
  .skew.left:hover {
    transform: skew(20deg);
  }
  
  .skew.right:hover {
    transform: skew(-20deg);
  }
  
  .resume {
    position: absolute;
    padding: 10px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: transform 0.2s linear;
  }
  
  .about {
    width: 100%;
    overflow: hidden;
  }
  
  .about p {
    padding: 16px;
    font-size: 22px;
    width: 100%;
    margin-top: 4.25vh;
  }
  
  .about p.left {
    float: left;
    margin-left: 0;
  }
  
  .about p.right {
    float: right;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 0;
  }
  
  .about a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-style: italic;
  }
  
  @media only screen and (max-width: 800px) {
    .about p {
      width: 75%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .header h1.intro {
      width: 50%;
    }
  }