.aboutMe {
    background-color: #f9f9f9;
    color: black;
    overscroll-behavior: contain;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .skew.left:hover {
    transform: skew(20deg);
  }
  
  .skew.right:hover {
    transform: skew(-20deg);
  }
  
  .resume {
    position: absolute;
    padding: 10px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: transform 0.2s linear;
  }
  
  .about {
    width: 100%;
    overflow: hidden;
  }
  
  .about p {
    padding: 16px;
    font-size: 22px;
    width: 100%;
    margin-top: 4.25vh;
  }
  
  .about p.left {
    float: left;
    margin-left: 0;
  }
  
  .about p.right {
    float: right;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 0;
  }
  
  .about a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-style: italic;
    cursor: help;
  }
  
  @media only screen and (max-width: 800px) {
    .about p {
      width: 75%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .header h1.intro {
      width: 50%;
    }
  }