.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f9f9f9;
  border-bottom: black 1px solid;
  width: 100%;
  padding-bottom: 3px;
}

.headerContent {
  position: relative;
}

.intro {
  font-size: 25px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

.subtext {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.secondSubtext {
  margin-left: 30px;
}

.headerButtons {
  position: absolute;
  /* top: 27px; */
  bottom: 0;
  right: 20px;
  display: flex;
  gap: 30px;
}

.headerButton {
  color: black;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  transition: transform 0.2s linear;
}

.infoButton {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 20px;
}

.back.skew.left:hover {
  transform: skew(20deg);
}

.infoButton:hover {
  transform: skew(-20deg);
}

@media only screen and (max-width: 600px) {
  .header h1.intro {
    width: 50%;
  }

  .headerButtons {
    top: 15px;
    right: 10px;
  }

  .headerButton {
    font-size: 16px;
  }
}