.projectPage {
  background-color: #f9f9f9;
  color: black;
  overscroll-behavior: contain;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}

p {
  text-align: left;
}

.externalLink {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-style: italic;
}

.designQuestion {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.designContent {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  min-width: 40%;
  line-height: 1.25;
}

.designContent p {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.5;
}

.mediaEmbed {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.mediaEmbed iframe,
.additionalInfo iframe {
  max-width: 100%;
}

.additionalInfo {
  margin-top: 40px;
  text-align: center;
}

.technologies {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 0px;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 15px;
}

@media only screen and (max-width: 800px) {
  .designContent {
    max-width: 90%;
    min-width: 90%;
  }
}